Repository ansys/pyansys-math, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Adding MAPDL docker calls
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

fix
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding permissions to docker image
  .ci/start_mapdl_ubuntu.sh
Labels: none

Attempt to fix the error
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding extra checkout step
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

adding github login
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding xvfb
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Changes from German's review
  README.rst
  doc/Makefile
  doc/source/getting_started/index.rst
  doc/source/links.rst
Labels: Documentation

Apply changes from Roberto's review
  .ci/start_mapdl_ubuntu.sh
  doc/source/getting_started/index.rst
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies

Adding code coverage artifact in the workflow
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding the validate_png.py file
  doc/validate_png.py
Labels: none

Updating the requirement versions and fixing typo
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: Maintenance, Dependencies, CI/CD

Fixing issue in the Makefile
  doc/Makefile
  doc/validate_png.py
Labels: none

Update examples/ansys-math_vs_scipy.py
  examples/ansys-math_vs_scipy.py
Labels: none

Adding the PyMAPDL Math examples (#5)
  .ci/start_mapdl_ubuntu.sh
  .flake8
  .github/workflows/ci_cd.yml
  .gitignore
  CODE_OF_CONDUCT.md
  Makefile
  README.rst
  doc/.vale.ini
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/README.txt
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
  examples/use_numpy_arrays.py
  ignore_words.txt
  pyproject.toml
  src/ansys/math/core/__init__.py
  src/ansys/math/core/examples/ansys-math_vs_scipy.ipynb
  src/ansys/math/core/math.py
  tests/test_math.py
Labels: Documentation, Maintenance, Dependencies, CI/CD

Adding warnings
  doc/source/conf.py
  doc/source/index.rst
Labels: Documentation

Adding the favicon + fixing Sphinx version
  pyproject.toml
Labels: Maintenance, Dependencies

Creating the documentation skeleton
  README.rst
  doc/source/commands/index.rst
  doc/source/commands/math.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/links.rst
  examples/README.txt
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
  examples/use_numpy_arrays.py
  pyproject.toml
  src/ansys/math/core/math.py
Labels: Documentation, Maintenance, Dependencies

Adding the documentation content
  doc/source/api_ref/index.rst
  doc/source/api_ref/math.rst
  doc/source/commands/index.rst
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/links.rst
  examples/README.txt
Labels: Documentation

Fixing typos and updating README.rst
  README.rst
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/links.rst
Labels: Documentation

Fixing vale errors
  doc/source/contributing/index.rst
  doc/source/index.rst
  ignore_words.txt
Labels: Documentation, Maintenance

Fixing the vale error
  doc/styles/Vocab/ANSYS/accept.txt
  ignore_words.txt
Labels: Maintenance

Apply suggestions from code review
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/links.rst
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/solve_dense_matrix.py
Labels: Documentation

Changes from Roberto's review
  .pre-commit-config.yaml
  README.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
Labels: Documentation

Code style changes
  src/ansys/math/core/math.py
  tests/test_math.py
Labels: none

Fixing an issue with the README.rst
  README.rst
  doc/source/getting_started/index.rst
Labels: Documentation

Fixing a typo
  doc/source/getting_started/index.rst
Labels: Documentation

Implementing the caching
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

New CI/CD implementation
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding pymapdl_port
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding pymapdl port and start_instance param
  pyproject.toml
  tests/conftest.py
Labels: Maintenance, Dependencies

Code style changes
  tests/conftest.py
Labels: none

Removing the changes from the build_tests CI
  .github/workflows/ci_cd.yml
  tests/conftest.py
Labels: Maintenance, CI/CD

Fixing PYMAPDL_PORT
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing venv declaration
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Apply suggestions from code review
  README.rst
  doc/source/api_ref/index.rst
  doc/source/contributing/index.rst
  doc/source/index.rst
Labels: Documentation

Apply suggestions from code review
  doc/source/index.rst
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
  examples/use_numpy_arrays.py
  src/ansys/math/core/math.py
Labels: Documentation

Apply suggestions from code review
  src/ansys/math/core/math.py
Labels: none

Code style changes
  src/ansys/math/core/math.py
Labels: none

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- ignore_words.txt
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*
