Repository ansys/pyansys-math, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Flake8 changes
  examples/ansys-math_vs_scipy.py
Labels: none

Apply suggestions from code review
  README.rst
Labels: none

Changing 'APDLMath' into 'AnsMath' obj for clarity
  README.rst
  doc/source/api_ref/math.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
  examples/use_numpy_arrays.py
  src/ansys/math/core/math.py
  tests/test_math.py
Labels: Documentation

Fixing typos in the doc
  doc/source/api_ref/math.rst
  src/ansys/math/core/math.py
Labels: Documentation

Fixing CI/CD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing pyansys/action environment
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Rerun the workflow
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Third attempt
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing a workflow issue
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding MAPDL service
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing CI/CD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing CI/CD
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing AnsysMath version call
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Update examples/scipy_sparse_matrix.py
  examples/scipy_sparse_matrix.py
Labels: none

Apply changes from Kathy's review
  doc/source/index.rst
  examples/ansys-math_vs_scipy.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
Labels: Documentation

Apply suggestions from code review
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Adding the examples to the Cache (#18)
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: Maintenance, Dependencies, CI/CD

Modifying the project name to PyAnsys-Math
  README.rst
  doc/source/api_ref/index.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/README.txt
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
  examples/use_numpy_arrays.py
  pyproject.toml
  src/ansys/math/core/math.py
Labels: Documentation, Maintenance, Dependencies

Fixing issues with the repository name
  README.rst
  doc/source/conf.py
  doc/source/contributing/index.rst
  doc/source/index.rst
  examples/README.txt
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
  examples/solve_sparse_matrix.py
  examples/use_numpy_arrays.py
  src/ansys/math/core/math.py
  tests/test_math.py
Labels: Documentation

Fixing a typo
  doc/source/conf.py
Labels: Documentation

Fixing issues
  doc/source/api_ref/index.rst
  examples/ansys-math_vs_scipy.py
  examples/basic_operations.py
  examples/eigen_solve.py
  examples/scipy_sparse_matrix.py
  examples/solve_dense_matrix.py
Labels: Documentation

Fixing a documentation issue
  doc/source/api_ref/index.rst
  doc/source/api_ref/math.rst
Labels: Documentation

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- ignore_words.txt
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*
