Repository ansys/pyansys-math, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

.github/labeler.yml:

Documentation:
- doc/source/**/*
Maintenance:
- .github/**/*
- .flake8
- ignore_words.txt
- pyproject.toml
Dependencies:
- pyproject.toml
CI/CD:
- .github/**/*

Code Style checks
  src/ansys/math/core/__init__.py
  src/ansys/math/core/math.py
  tests/test_math.py
Labels: none

Documentation Style Check
  doc/.vale.ini
Labels: none

Updating the Ansys-Math examples
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.ipynb
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.py
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.rst
  doc/source/examples/basic_operations/basic_operations.ipynb
  doc/source/examples/basic_operations/basic_operations.py
  doc/source/examples/basic_operations/basic_operations.rst
  doc/source/examples/eigen_solve/eigen_solve.ipynb
  doc/source/examples/eigen_solve/eigen_solve.py
  doc/source/examples/eigen_solve/eigen_solve.rst
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.ipynb
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.py
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.rst
  doc/source/examples/solve_dense_matrix/solve_dense_matrix.ipynb
  doc/source/examples/solve_dense_matrix/solve_dense_matrix.py
  doc/source/examples/solve_dense_matrix/solve_dense_matrix.rst
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.ipynb
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.py
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.rst
  doc/source/examples/use_numpy_arrays/use_numpy_arrays.ipynb
  doc/source/examples/use_numpy_arrays/use_numpy_arrays.py
  doc/source/examples/use_numpy_arrays/use_numpy_arrays.rst
  doc/source/getting_started/index.rst
  src/ansys/math/core/math.py
Labels: Documentation

Vale checks
  doc/source/examples/basic_operations/basic_operations.rst
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

Fixing Vale checks
  .gitignore
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Fixing Vale check
  .flake8
  .gitignore
Labels: Maintenance

Modifying the landing page
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.ipynb
  doc/source/examples/basic_operations/basic_operations.ipynb
  doc/source/examples/eigen_solve/eigen_solve.ipynb
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.ipynb
  doc/source/examples/solve_dense_matrix/solve_dense_matrix.ipynb
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.ipynb
  doc/source/index.rst
Labels: Documentation

Fixing Numpy issue
  tests/test_math.py
Labels: none

Fixing an issue with the unit tests
  tests/test_math.py
Labels: none

Fixing an unit test issue
  tests/test_math.py
Labels: none

Deleting the Notebook metadata
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.ipynb
  doc/source/examples/solve_dense_matrix/solve_dense_matrix.ipynb
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.ipynb
Labels: Documentation

Fixing vale issue
  .gitignore
Labels: none

Fixing spelling issues
  doc/source/examples/basic_operations/basic_operations.rst
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

Fixing spelling issues
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.rst
  doc/source/examples/eigen_solve/eigen_solve.rst
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.rst
  doc/source/examples/sg_execution_times.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

Fixing typo issues
  doc/source/examples/basic_operations/basic_operations.rst
  doc/source/examples/eigen_solve/eigen_solve.rst
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.rst
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

Fixing typo
  doc/source/examples/use_numpy_arrays/use_numpy_arrays.rst
Labels: Documentation

Removing a typo
  src/ansys/math/core/__init__.py
Labels: none

Modifying amath.MapdlMath() into amath.Math()
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.rst
  src/ansys/math/core/examples/ansys-math_vs_scipy.ipynb
  tests/test_math.py
Labels: Documentation

Adding an import in the python file
  src/ansys/math/core/math.py
Labels: none

Fixing a title in the examples
  doc/source/examples/eigen_solve/eigen_solve.rst
Labels: Documentation

Applying changes from code reviewer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.ipynb
  doc/source/examples/ansys-math_vs_scipy/ansys-math_vs_scipy.py.md5
  doc/source/examples/basic_operations/basic_operations.py.md5
  doc/source/examples/eigen_solve/eigen_solve.py.md5
  doc/source/examples/scipy_sparse_matrix/scipy_sparse_matrix.py.md5
  doc/source/examples/solve_dense_matrix/solve_dense_matrix.py.md5
  doc/source/examples/solve_sparse_matrix/solve_sparse_matrix.py.md5
  doc/source/examples/use_numpy_arrays/use_numpy_arrays.py.md5
  doc/source/getting_started/index.rst
  src/ansys/math/core/examples/ansys-math_vs_scipy.ipynb
  src/ansys/math/core/examples/basic_operations.ipynb
  src/ansys/math/core/examples/eigen_solve.ipynb
  src/ansys/math/core/examples/scipy_sparse_matrix.ipynb
  src/ansys/math/core/examples/solve_dense_matrix.ipynb
  src/ansys/math/core/examples/solve_sparse_matrix.ipynb
  src/ansys/math/core/examples/use_numpy_arrays.ipynb
Labels: Documentation

Fixing a typo
  doc/source/conf.py
Labels: Documentation

Adding packages
  pyproject.toml
Labels: Maintenance, Dependencies

Adding vtk package
  pyproject.toml
Labels: Maintenance, Dependencies

Fixing a typo
  pyproject.toml
Labels: Maintenance, Dependencies

Adding pandoc install in the ci_cd workflow
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Trying to fix errors
  .ci/start_mapdl.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Revert "Trying to fix errors"
  .ci/start_mapdl.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing the gallery building error
  doc/source/conf.py
Labels: Documentation

Fixing the gallery error
  doc/source/conf.py
  src/ansys/math/core/__init__.py
Labels: Documentation

Fixing a gallery error
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Fixing pandoc package
  .github/workflows/ci_cd.yml
Labels: Maintenance, CI/CD

Importing new libraries
  pyproject.toml
Labels: Maintenance, Dependencies

Attempt to fix the bug by modifying a doc library
  pyproject.toml
Labels: Maintenance, Dependencies

Update pyproject.toml
  pyproject.toml
Labels: Maintenance, Dependencies

Modifying a typo
  examples/ansys-math_vs_scipy.py
Labels: none

Updating the Sphinx version
  pyproject.toml
Labels: Maintenance, Dependencies

Test to fix the building error
  src/ansys/math/core/math.py
Labels: none

Applying code reviewer
  src/ansys/math/core/math.py
Labels: none

fixing readme
  README.rst
Labels: none
