Repository ansys/pyansys-math, pull requests merged in 2024-04, with the labels that each got.

#314 maint: updating `ansys/actions` to `v6`
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  pyproject.toml
Labels: maintenance, CI/CD

#315 maint: updating `dependabot.yml`
  .github/dependabot.yml
Labels: maintenance

#316 feat: implementing `ansys/actions/doc-changelog`
  .github/labeler.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/316.added.md
  doc/changelog.d/changelog_template.jinja
  pyproject.toml
Labels: enhancement, maintenance, dependencies

#322 fix: updating CICD (Vale, MAPDL image)
  .ci/collect_mapdl_logs.sh
  .ci/display_logs.sh
  .ci/start_mapdl.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci_cd.yml
  doc/changelog.d/322.fixed.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: bug, maintenance

#323 fix: removing `md` Vale checks
  doc/.vale.ini
  doc/changelog.d/323.fixed.md
Labels: bug

#327 ci: establish stage dependencies for release
  .github/workflows/ci_cd.yml
  doc/changelog.d/327.changed.md
Labels: maintenance

#326 docs: title level for release notes
  doc/changelog.d/326.miscellaneous.md
  doc/source/changelog.rst
Labels: documentation

#329 maint: adding `update-changelog` as a CICD dependency
  .github/workflows/ci_cd.yml
  doc/changelog.d/329.changed.md
Labels: maintenance
